body {
	padding-right: rem(0) !important;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	column-gap: rem(10);
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #ffffff;
	padding: 20px;
	width: 100%;
	max-width: 600px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

/*====================================================LOGIN===============================================================*/
.popup {
	// .popup__close

	&__close {
		display: block;
		position: absolute;
		background: none;
		border: none;
		outline: none;
		top: rem(20);
		right: rem(20);
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	// .popup__img

	&__img {
		img {
			max-width: 100%;
			flex: 1 1 auto;
		}
		@media (max-width: rem(500)) {
			display: none;
		}
	}

	// .popup__login

	&__login {
	}
}
.login {
	display: flex;
	flex-direction: column;
	row-gap: rem(20);
	@media (max-width: rem(500)) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: rem(50) rem(0);
	}

	// .login__title

	&__title {
		font-weight: 700;
		font-size: rem(30);
		background: linear-gradient(25deg, #2600fc 0%, #ff00ea 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		margin-bottom: rem(20);
		text-transform: uppercase;
	}

	// .login__input

	&__input {
		background: #e6e6e6;
		display: flex;
		column-gap: rem(10);
		height: 100%;
		width: 100%;
		align-items: center;
		border-radius: rem(5);
		padding: rem(15) rem(15);
		input {
			background: none;
			border: none;
			outline: none;
			width: 100%;
			height: 100%;
		}
	}

	// .login__botton

	&__botton {
	}

	// .login__btn

	&__btn {
	}

	// .login__forgot

	&__forgot {
		font-size: rem(13);
		color: #9a9a9a;
		margin-bottom: rem(5);
		transition: all 0.5s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #000000;
			}
		}
	}

	// .login__create

	&__create {
		font-size: rem(13);
		color: #9a9a9a;
		transition: all 0.5s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #000000;
			}
		}
	}
}

.style {
	// .style_btn

	&_btn {
	}
}
