%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-nft1:before {
	content: "\e902";
	color: #fff;
  }
  ._icon-exchange:before {
	content: "\e903";
	color: #fff;
  }
  ._icon-wallet:before {
	content: "\e904";
	color: #fff;
  }
  ._icon-price:before {
	content: "\e905";
	color: #fff;
  }
  ._icon-nft:before {
	content: "\e906";
	color: #fff;
  }
  ._icon-man:before {
	content: "\e907";
	color: #fff;
  }
  ._icon-lock-closed:before {
	content: "\e900";
  }
  ._icon-user:before {
	content: "\e901";
  }
  